@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');


a {
    text-decoration: none;
}

body {
    color: white;
    font-family: 'Lato', sans-serif;
    background-image: url(pexels-frank-cone-3607542.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

:target {
    scroll-margin-top: 85px;
}

/* Cores dos elementos */
:root {
    --nao_metais_diatomicos: rgb(236, 166, 105);
    --nao_metais_poliatomicos: #1C9480;
    --gases_nobres: rgb(255, 170, 239);
    --metais_alcalinos: rgb(255, 74, 74);
    --metais_alcalinoterrosos: rgb(157, 126, 52);
    --semimetais: rgba(239, 233, 53, 0.786);
    --metais_pos_transicao: rgb(191, 100, 255);
    --metais_de_transicao: rgba(118, 209, 130, 0.881);
    --lantanideos: rgb(33, 126, 255);
    --actinideos: rgb(115, 187, 250);
    --prop_desconhecidas: rgb(154, 153, 150);
    scroll-behavior: smooth;
}

.nao_metais_diatomicos {
    color: var(--nao_metais_diatomicos);
}

.gases_nobres {
    color: var(--gases_nobres);
}

.metais_alcalinoterrosos {
    color: var(--metais_alcalinoterrosos);
}

.metais_alcalinos {
    color: var(--metais_alcalinos);
}

.semimetais {
    color: var(--semimetais);
}

.metais_pos_transicao {
    color: var(--metais_pos_transicao);
}

.metais_de_transicao {
    color: var(--metais_de_transicao);
}

.nao_metais_poliatomicos {
    color: var(--nao_metais_poliatomicos);
}

.lantanideos {
    color: var(--lantanideos);
}

.actinideos {
    color: var(--actinideos);
}

.prop_desconhecidas {
    color: var(--prop_desconhecidas);
}

/* Efeito de foco - Hover */
tbody td:hover:not(.none, #tb_info td) {
    transition: .1s;
    cursor: pointer;
    z-index: 2;
    border-radius: 10px;
    border: 1.2px solid;
    color: rgb(0, 0, 0) !important;
}

/* Formatação das fontes */
table caption {
    font-size: 5em;
    font-weight: 100;
    line-height: normal;
    margin: 20px auto;
    color: white;
}

.numero_atomico {
    font-weight: 100px;
    font-size: 0.5em;
    text-align: left;
    margin-left: 5px;
}

.simbolo_elemento {
    font-weight: 900px;
    font-size: 1.5em;
}

.nome_elemento {
    font-weight: 100px;
    font-size: 0.6em;
}

.massa_atomica {
    font-weight: 100px;
    font-size: 0.5em;
}

#legenda p {
    font-weight: 300;
    font-size: 2em;
}

/* Posicionamento e formatação da tabela */

table {
    position: relative;
    margin: 5px auto;
    border-collapse: separate;
    border-spacing: 5px;
    line-height: 2px;
}

td {
    height: 60px;
    min-width: 60px;
    text-align: center;
    padding: 1px;
    border: 1px solid;
}

.none {
    padding: 0;
    margin: 0;
    border: none;
}

.blur {
    backdrop-filter: blur(10px);
}

/* Legenda da tabela */
#legenda {
    width: 70vw;
    font-size: 1em;
    display: flex;
    align-items: inline-block;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px auto 100px auto;
}

#legenda ul li {
    list-style-type: none;
    border: none;
    line-height: 30px;
}

/* Box das legendas */
#legenda li:before {
    content: ' ';
    display: inline-block;
    width: 1em;
    height: 1em;
    border: .125em solid;
    border-radius: .125rem;
    margin-right: .5em;
    position: relative;
    top: .25em;
}

/* Tabela de informações sobre os elementos */

#tb_info .header,
.footer {
    background-color: #000000e2;
    color: rgb(255, 255, 255);
    height: 60px;
    font-size: small;
    position: sticky;
}

#tb_info .footer {
    bottom: 0;
}

#tb_info .header {
    top: 0;
}

#tb_info {
    border-collapse: collapse;
    line-height: 60px;
    padding: 15px 10px;
    width: 80vw;
    min-width: 1000px;
    border-spacing: 0;
    backdrop-filter: blur(10px);
}

#tb_info td {
    border-left: 0;
    border-right: 0;
}

/* Efeito de foco - Hover */
#tb_info tr:hover:not(.header, .footer) {
    transition: .2s;
    z-index: 2;
    border: none;
    font-weight: bolder;
    height: 100px;
    line-height: 100px;
}

tr span {
    display: none;
    /* Aqui você define que todo SPAN que estiver dentro de um A estará invisível */
}

tr:hover span {
    display: inline;
    /* Tranforma o SPAN em um elemento do tipo bloco */
    position: absolute;
    /* Para você poder posicionar a vontade, sem quebrar o layour em volta */
    right: -125px;
    top: auto;
    z-index: 2;
}

tr span img {
    width: 120px;
    border-radius: 5px;
    border: 1px white solid;
}

.actinideos:hover:not(#legenda ul li) {
    background-color: var(--actinideos) !important;
    color: black !important;
}

.gases_nobres:hover:not(#legenda ul li) {
    background-color: var(--gases_nobres) !important;
    color: black !important;
}

.lantanideos:hover:not(#legenda ul li) {
    background-color: var(--lantanideos) !important;
    color: black !important;
}

.nao_metais_diatomicos:hover:not(#legenda ul li) {
    background-color: var(--nao_metais_diatomicos) !important;
    color: black !important;
}

.nao_metais_poliatomicos:hover:not(#legenda ul li) {
    background-color: var(--nao_metais_poliatomicos) !important;
    color: black !important;
}

.metais_alcalinos:hover:not(#legenda ul li) {
    background-color: var(--metais_alcalinos) !important;
    color: black !important;
}

.metais_alcalinoterrosos:hover:not(#legenda ul li) {
    background-color: var(--metais_alcalinoterrosos) !important;
    color: black !important;
}

.semimetais:hover:not(#legenda ul li) {
    background-color: var(--semimetais) !important;
    color: black !important;
}

.metais_de_transicao:hover:not(#legenda ul li) {
    background-color: var(--metais_de_transicao) !important;
    color: black !important;
}

.metais_pos_transicao:hover:not(#legenda ul li) {
    background-color: var(--metais_pos_transicao) !important;
    color: black !important;
}

.prop_desconhecidas:hover:not(#legenda ul li) {
    background-color: var(--prop_desconhecidas) !important;
    color: black !important;
}

/* Footer */

#footer {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.464);
    color: white !important;
    height: 150px;
    width: 100%;
    font-size: large;
    font-weight: 400;
}

/* Botões */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5px;
    left: 5px;
    width: 80px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.89);
    text-decoration: none;
    border-radius: 5px;
    color: white;
}

.btn:hover {
    margin-left: -8px;
    font-weight: bold;
}

/* Barra de rolagem */

* {
    scrollbar-width: thin;
    scrollbar-color: white rgb(27, 27, 27);
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgb(27, 27, 27);
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(27, 27, 27);
}