@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');


a {
    text-decoration: none;
}

body {
    color: white;
    font-family: 'Lato', sans-serif;
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
}

:target {
    scroll-margin-top: 85px;
}

/* Cores dos elementos */
:root {
    --nao_metais: #1C9480;
    --halogenios: rgb(236, 166, 105);
    --gases_nobres: rgb(255, 170, 239);
    --metais_alcalinos: rgb(255, 74, 74);
    --metais_alcalinoterrosos: rgb(157, 126, 52);
    --semimetais: rgba(239, 233, 53, 0.786);
    --metais_representativos: rgb(191, 100, 255);
    --metais_de_transicao: rgba(118, 209, 130, 0.881);
    --lantanideos: rgb(33, 126, 255);
    --actinideos: rgb(115, 187, 250);
    scroll-behavior: smooth;
}

.nao_metais {
    color: var(--nao_metais);
}

.gases_nobres {
    color: var(--gases_nobres);
}

.metais_alcalinoterrosos {
    color: var(--metais_alcalinoterrosos);
}

.metais_alcalinos {
    color: var(--metais_alcalinos);
}

.semimetais {
    color: var(--semimetais);
}

.metais_representativos {
    color: var(--metais_representativos);
}

.metais_de_transicao {
    color: var(--metais_de_transicao);
}

.halogenios {
    color: var(--halogenios);
}

.lantanideos {
    color: var(--lantanideos);
}

.actinideos {
    color: var(--actinideos);
}

/* Efeito de foco - Hover */
tb_periodica td:hover:not(.none) {
    cursor: pointer;
    color: rgba(0, 0, 0, 0);
    transition: .5s;
}

/* Formatação das fontes */
table caption {
    font-size: 5em;
    font-weight: 300;
    margin: 10px 0 0 0;
    color: white;
}

.numero_atomico {
    font-weight: 100px;
    font-size: 0.7em;
    text-align: left;
    margin-left: 7px;
    margin-bottom: 0;
}

.simbolo_elemento {
    font-weight: 900px;
    font-size: 1.5em;
    text-align: center;
    margin: .7em 0em;
}

.nome_elemento {
    font-weight: 100px;
    font-size: 0.7em;
}

.massa_atomica {
    font-weight: 100px;
    font-size: 0.7em;
}

#legenda {
    p {
        font-weight: 400;
        font-size: 2em;
        line-height: 100px;
    }

    ul {
        li {
            font-size: 1.02em;
            font-weight: 900;
            list-style: none;
        }
    }

    border-radius: 30px;
    padding: 40px;
    text-align: left;

    input[type="checkbox"] {
        visibility: hidden;
        display: block;
        height: 0;
        width: 0;
        position: absolute;
        overflow: hidden;
    }

    input[type="checkbox"]+span {
        height: 10px;
        width: 10px;
        border: 1px solid white;
        display: inline-block;
        margin: 0 10px 0 0;
        cursor: pointer;
        border-radius: 2px;
        transition: .5s ease;
    }

    input[type="checkbox"]:checked+span {
        border: 1px solid currentColor;
        background: currentColor;
        transition: .5s ease;
    }
}

h2 {
    margin: 15px;
}

/* Posicionamento e formatação da tabela */

table {
    position: relative;
    margin: auto;
    border-collapse: separate;
    border-spacing: 3px;
    line-height: 2px;

    td {
        height: 50px;
        min-width: 60px;
        text-align: center;
        border: 1px solid;
        padding: 0;
    }
}



.none {
    padding: 0;
    margin: 0;
    border: none;
    z-index: 1;
}

.blur {
    backdrop-filter: blur(10px);
}

/* Legenda da tabela */
.legenda {
    width: 70vw;
    font-size: 1em;
    display: flex;
    align-items: inline-block;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px auto 100px auto;

    ul li {
        list-style: none;
        border: none;
        line-height: 30px;
    }
}


/* Tabela de informações sobre os elementos */

#tb_info {
    .header {
        background-color: #000000e2;
        color: rgb(255, 255, 255);
        height: 60px;
        font-size: small;
        position: sticky;
        top: 0;
    }

    border-collapse: collapse;
    padding: 15px 10px;
    width: 80vw;

    @keyframes tdAppear {
        from {
            opacity: 0;
            transform: scaleY(0);
            height: 0;
        }

        to {
            opacity: 1;
            transform: scaleY(1);
        }
    }

    @keyframes tdDisappear {
        from {
            opacity: 1;
            transform: scaleY(1);
        }

        to {
            opacity: 0;
            transform: scaleY(0);
            height: 0;
        }
    }

    td {
        border-left: 0;
        border-right: 0;
        border-top: 0;
        animation: tdAppear 1s;
        transition: .5s;
    }
}

.footer {
    background-color: #000000e2;
    color: rgb(255, 255, 255);
    height: 60px;
    font-size: small;
    position: sticky;
}

/* Efeito de foco - Hover */
#tb_info tr:hover:not(.header, .footer) {
    transition: .2s;
    z-index: 2;
    border: none;
    font-weight: bolder;
    line-height: 60px;
}

tr {
    span {
        display: none;

        /* Aqui você define que todo SPAN que estiver dentro de um A estará invisível */
        img {
            width: 120px;
            border-radius: 5px;
            border: 1px white solid;
        }
    }

    &:hover {
        span {
            display: inline;
            /* Tranforma o SPAN em um elemento do tipo bloco */
            position: absolute;
            /* Para fazer o posicionamento livremente, sem quebrar o layout em volta */
            right: -125px;
            top: auto;
            z-index: 2;
        }
    }
}






.actinideos:hover:not(#legenda ul li) {
    background-color: var(--actinideos) !important;
    color: black !important;
}

.gases_nobres:hover:not(#legenda ul li) {
    background-color: var(--gases_nobres) !important;
    color: black !important;
}

.lantanideos:hover:not(#legenda ul li) {
    background-color: var(--lantanideos) !important;
    color: black !important;
}

.nao_metais:hover:not(#legenda ul li) {
    background-color: var(--nao_metais) !important;
    color: black !important;
}

.halogenios:hover:not(#legenda ul li) {
    background-color: var(--halogenios) !important;
    color: black !important;
}

.metais_alcalinos:hover:not(#legenda ul li) {
    background-color: var(--metais_alcalinos) !important;
    color: black !important;
}

.metais_alcalinoterrosos:hover:not(#legenda ul li) {
    background-color: var(--metais_alcalinoterrosos) !important;
    color: black !important;
}

.semimetais:hover:not(#legenda ul li) {
    background-color: var(--semimetais) !important;
    color: black !important;
}

.metais_de_transicao:hover:not(#legenda ul li) {
    background-color: var(--metais_de_transicao) !important;
    color: black !important;
}

.metais_representativos:hover:not(#legenda ul li) {
    background-color: var(--metais_representativos) !important;
    color: black !important;
}

/* Footer */

#footer {
    text-align: center;
    margin: 50px 0 90px 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.464);
    color: white !important;
    height: fit-content;
    width: 100%;
    font-size: large;
    font-weight: 400;
    padding: 20px 0 20px 0;

    /* Ícones */
    i {
        color: white;
        font-size: 1.5em;
        padding: 5px;
    }

    .credito{
        margin-top: 30px;
    }

}


/* Menu e Botões */

#container-menu {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: fixed;
    z-index: 2;
    width: 100vw;
    top: 85vh;

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        width: 60px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.733);
        text-decoration: none;
        border-radius: 30px;
        color: white;
        border: 1px solid rgb(0, 0, 0);
    }

    .btn:hover {
        margin-left: 8px;
        font-weight: bold;
        background-color: var(--lantanideos);
        border-color: white;
        border-radius: 60px;
        transition: .5s;
    }
}



/* Barra de rolagem */

* {
    scrollbar-width: thin;
    scrollbar-color: white rgb(27, 27, 27);
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgb(27, 27, 27);
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(27, 27, 27);
}